@tailwind base;
@tailwind components;
@tailwind utilities;


/*  make text white and background black */
    body {
        color: white;
        background-color: black;
        /*font family Manrope*/
        font-family: 'Manrope', sans-serif;
    
    }

    @layer base {
        button {
          @apply border-2 py-1 px-2 rounded-full hover:bg-slate-800
        }
      }

      h1 {
        @apply text-5xl font-bold
      }
    
      .square {
        width: 50%;
        padding-bottom: 50%;
        background-color: teal; 
      }

      .count-enter {
        opacity: 0;
        transform: scale(0.5);
     }
     
     .count-enter-active {
        opacity: 1;
        transform: scale(1);
        transition: all 300ms ease-out;
     }
     
     .count-exit {
        opacity: 1;
        transform: scale(1);
     }
     
     .count-exit-active {
        opacity: 0;
        transform: scale(0.5);
        transition: all 300ms ease-out;
     }
     